
li.icons.home {

     background-image: url("../img/icons/home-blue.png");
     background-size: 24px 24px;
     min-width:20px;
     height: 24px;
     background-repeat:no-repeat;

 }
li.icons.home:hover {

    background-image: url("../img/icons/home-grey.png");
    min-width:20px;
    height: 24px;
}

li.icons.comm {

    background-image: url("../img/icons/comm-blue.png");
    background-size: 24px 24px;
    min-width:20px;
    height: 24px;
    background-repeat:no-repeat;

}
li.icons.comm:hover {
    background-image: url("../img/icons/comm-grey.png");
    min-width:20px;
    height: 24px;
}

li.icons.shop {
    background-image: url("../img/icons/shop-blue.png");
    background-size: 24px 24px;
    min-width:20px;
    height: 24px;
    background-repeat:no-repeat;

}
li.icons.shop:hover {
    background-image: url("../img/icons/shop-grey.png");
    min-width:20px;
    height: 24px;
}

li.icons.logout {
    background-image: url("../img/icons/logout-red.png");
    background-size: 24px 24px;
    min-width:20px;
    height: 24px;
    background-repeat:no-repeat;

}
li.icons.logout:hover {
    background-image: url("../img/icons/logout-grey.png");
    min-width:20px;
    height: 24px;
}
